/.phpunit.cache
/node_modules
/public/build
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/hot

# Ignore everything in /public/storage
/public/storage/*

# Do not ignore /public/storage/images/ppdb
!/public/storage/images

# Ignore everything in /public/storage/images
/public/storage/images/*

# Do not ignore /public/storage/images/ppdb and its contents
!/public/storage/images/ppdb
!/public/storage/images/ppdb/*



    