@keyframes slideInUp {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.submenu-animate {
  display: none;
  min-width: 100%;
}

.group:hover .submenu-animate {
  display: block;
  animation: slideInUp 0.3s ease-out forwards;
}
